$theme1_calculator--bg-color: hsl(222, 26%, 31%);

// Toggle and Keypad Background Color
$theme1_toggle-bar--bg-color: hsl(224, 36%, 15%);

// Display Background Color
$theme1_display--bg-color: hsl(224, 36%, 15%);

// Delete and Reset Buttons Background Color
$theme1_delete-btn--bg-color: hsl(225, 21%, 49%);
$theme1_delete-btn--shadow-color: hsl(224, 28%, 35%);

// Delete and Reset Buttons hover State Background Color
$theme1_delete-btn_hover--bg-color: hsl(226, 21%, 59%);

// Toggle and Result Buttons Background Color
$theme1_toggle-btn--bg-color: hsl(6, 63%, 50%);
$theme1_toggle-btn--shadow-color: hsl(6, 70%, 34%);

// Result Button Hover State Background Color
$theme1_result-btn_hover--bg-color: hsl(7, 63%, 60%);

// Digit and Operator Buttons Background Color
$theme1_digits-btn--bg-color: hsl(30, 25%, 89%);
$theme1_key--shadow-color: hsl(28, 16%, 65%);

// Digit and Operator Buttons Hover State Background Color
$theme1_digits-btn_hover--bg-color: hsl(31, 25%, 99%);

// Text colors
$theme1_text--color1: hsl(221, 14%, 31%);
$theme1_text--color2: hsl(0, 0%, 100%);

// THEME TWO
// Main Background Color
$theme2_calculator--bg-color: hsl(0, 0%, 90%);

// Toggle Bar and Keypad Background Color
$theme2_toggle-bar--bg-color: hsl(0, 5%, 81%);

// Display Background Color
$theme2_display--bg-color: hsl(0, 0%, 93%);

// Delete and Reset Buttons Background Color
$theme2_delete-btn--bg-color: hsl(185, 42%, 37%);
$theme2_delete-btn--shadow-color: hsl(185, 58%, 25%);

// Delete and Reset Buttons Hover State Background Color
$theme2_delete-btn_hover--bg-color: hsl(186, 42%, 47%);

// Toggle and Result Buttons Background Color
$theme2_toggle-btn--bg-color: hsl(25, 98%, 40%);
$theme2_toggle-btn--shadow-color: hsl(6, 70%, 34%);

// Result Button Hover State Background Color
$theme2_result-btn_hover--bg-color: hsl(26, 98%, 50%);

// Digit and Operator Buttons Background Color
$theme2_digits-btn--bg-color: hsl(45, 7%, 89%);
$theme2_digits-btn--shadow-color: hsl(35, 11%, 61%);

// Digit and Operator Buttons Hover State Background Color
$theme2_digits-btn_hover--bg-color: hsl(46, 7%, 99%);

// Text colors
$theme2_text--color1: hsl(60, 10%, 19%);
$theme2_text--color2: hsl(0, 0%, 100%);

// THEME THREE
// Main Background Color
$theme3_calculator--bg-color: hsl(268, 75%, 9%);

// Toggle, Display and Keypad Background Color
$theme3_toggle-bar--bg-color: hsl(268, 71%, 12%);

// Delete and Reset Buttons Background Color
$theme3_delete-btn--bg-color: hsl(281, 89%, 26%);
$theme3_delete-btn--shadow-color: hsl(285, 91%, 52%);

// Delete and Reset Buttons Hover State Background Color
$theme3_delete-btn_hover--bg-color: hsl(282, 89%, 36%);

// Toggle and Result Buttons Background Color
$theme3_toggle-btn--bg-color: hsl(176, 100%, 44%);
$theme3_toggle-btn--shadow-color: hsl(177, 92%, 70%);

// Result Button Hover State bg Color
$theme3_result-btn_hover--bg-color: hsl(177, 100%, 54%);

// Digit and Operator Buttons Background Color
$theme3_digits-btn--bg-color: hsl(268, 47%, 21%);
$theme3_digit-btn--shadow-color: hsl(290, 70%, 36%);

// Digit and Operator Buttons Hover State Background Color
$theme3_digits-btn_hover--bg-color: hsl(269, 47%, 31%);

// Text colors
$theme3_text--color1: hsl(52, 100%, 62%);
$theme3_text--color2: hsl(0, 0%, 100%);
$theme3_text--color3: hsl(198, 20%, 13%);
